.container{
  background-color: white;
}

button {
	width:110px;
	cursor:pointer;
  text-transform:capitalize;
}

.bouton {
  border:none;
  margin: 5px;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}

.button-container{
  float: right;
}

.like{
  float: inline-start;
  margin-bottom: 50px;
  margin-left: 200px;
}
